<div class="m-3">
    <h2>concatMap Operator</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Source - 01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source-02 | Map + concatAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source-03 | concatMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
            <!-- <p>Data coming here..</p> -->
        </div>
        <div class="col-md-12">
            <strong>Source-04 | mergeMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer4">
            </ul>
            <!-- <p>Data coming here..</p> -->
        </div>
    </div>
</div>