<div class="my-3">
    <h2>Exhaust Map</h2>
    <br><br><br>
    <h2>Save Data <span *ngIf="loader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
    </span></h2>
    <hr>
    <div class="row">
        <div class="col-6">
            <div>
                <button class="btn btn-success" #saveBtn>Save Data</button>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-light p-2 border rounded" style="width: 100%;"><strong>Save Request:</strong> {{reqCount}}</div>
        </div>
    </div>
</div>