<div class="m-3">
    <h2>Take, TakeLast and TakeUnit  Operator</h2>
    <br>
    <strong> (Random Name)</strong>
            <div class="bg-light p-2 border rounded"> <strong>Random Names: </strong>
                'Mihir', 'Kumar', 'Trivedi','Ram',Krishna,'Laskhman' </div>
            <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex- 01 | Take(5)</strong>
            <hr>
            <ul id="eleContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex- 02 | TakeLast(5)</strong>
            <hr>
            <ul id="eleContainerTwo"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex- 03 | TakeUnit(Condition)</strong>
            <hr>
            <ul id="eleContainerThree"></ul>
        </div>
    </div>
</div>