<div class="m-3">
    <h2>Custom Observable</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex- 01 (Manual)</strong>
            <hr>
            <ul id="customContainer" class="list" [ngClass]="listStatus === 'completed' ? 'success' : listStatus === 'error' ? 'error' : ''">
                <!-- <li>Angular</li> -->
            </ul>
        </div>
        <div class="col-md-6">
            <strong>Ex- 02 (Custom Interval Observable)</strong>
            <hr>
            <ul id="customInterval" class="list" [ngClass]="customIntervalStatus === 'completed' ? 'success' : customIntervalStatus === 'error' ? 'error' : ''">
                <!-- <li>Angular</li> -->
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <strong>Ex- 03 (Random Name)</strong>
            <div class="bg-light p-2 border rounded"> <strong>Random Names: </strong>
                'Mihir', 'Kumar', 'Trivedi','Ram',Krishna,'Laskhman' </div>
            <hr>
            <p>Current Name : <strong>{{currentName}} </strong></p>
            <!-- {{badgeStatus == 'completed' ? 'Success' : 'badge-success' : badgeStatus == 'error' ? 'Error': 'Running'}} -->
            <span class="badge" [ngClass]="badgeStatus === 'completed' ? 'badge-success' : badgeStatus == 'error' ? 'badge-danger': 'badge-primary' ">
                {{badgeStatus == 'completed' ? 'Success' : badgeStatus == 'error' ? 'Error' : 'Running'}}
            </span>
        </div>
    </div>
</div>