<div class="rwo">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="/observable/fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="/observable/interval">Interval</a>
            </li>
            <li>
                <a routerLink="/observable/of-from">of-from</a>
            </li>
            <li>
                <a routerLink="/observable/to-array">to-Array</a>
            </li>
            <li>
                <a routerLink="/observable/custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="/observable/map">Map Operator</a>
            </li>
            <li>
                <a routerLink="/observable/pluck">Pluck Operator</a>
            </li>
            <li>
                <a routerLink='/observable/filter'>Filter Operator</a>
            </li>
            <li>
                <a routerLink='/observable/tap'>Tap(Do) Operator</a>
            </li>
            <li>
                <a routerLink='/observable/take'>Take, TakeLast and TakeUntil Operator</a>
            </li>
            <li>
                <a routerLink='/observable/retry'>Retry, RetryWhen and Scan, Delay Operator</a>
            </li>
            <li>
                <a routerLink='/observable/debouncetime'>DebounceTime & DistinctUntilChange Operator</a>
            </li>
            <li>
                <a routerLink='/observable/subject'>Subject and Behavior Subject Operator</a>
            </li>
            <li>
                <a routerLink='/observable/replay'>Reply Subject Operator</a>
            </li>
            <li>
                <a routerLink='/observable/async-subject'>Async Subject Operator</a>
            </li>
            <li>
                <a routerLink='/observable/concat'>Concat Operator</a>
            </li>
            <li>
                <a routerLink='/observable/merge'>Merge Operator</a>
            </li>
            <li>
                <a routerLink='/observable/mergeMap'>Merge Map</a>
            </li>
            <li>
                <a routerLink='/observable/concatMap'>concatMap</a>
            </li>
            <li>
                <a routerLink='/observable/mobile-notification'>Concat Mobile Notification</a>
            </li>
            <li>
                <a routerLink="/observable/switch-map"> SwitchMap </a>
            </li>
            <li>
                <a routerLink="/observable/switch-map-search">Switch Map Search</a>
            </li>
            <li>
                <a routerLink="/observable/exhaust-map">Exhaust Map</a>
            </li>
            <li>
                <a routerLink="/observable/share-replay">Share Replay </a>
            </li>
        </ul>
    </div>
</div>