<div class="rwo">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="/observable/fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="/observable/interval">Interval</a>
            </li>
            <!-- <li>
                <a routerLink="/observable/fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="/observable/fromEvent">formEvent</a>
            </li> -->
            <li>
                <a routerLink="/observable/of-from">of-from</a>
            </li>
        </ul>
    </div>
</div>