<div class="rwo">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="/observable/fromEvent">fromEvent</a>
            </li>
            <li>
                <a routerLink="/observable/interval">Interval</a>
            </li>
            <li>
                <a routerLink="/observable/of-from">of-from</a>
            </li>
            <li>
                <a routerLink="/observable/to-array">to-Array</a>
            </li>
            <li>
                <a routerLink="/observable/fromEvent">formEvent</a>
            </li>
            <li>
                <a routerLink="/observable/custom">Custom Observable</a>
            </li>
            <li>
                <a routerLink="/observable/map">Map Operator</a>
            </li>
            <li>
                <a routerLink="/observable/pluck">Pluck Operator</a>
            </li>
            <li>
                <a routerLink='/observable/filter'>Filter Operator</a>
            </li>
            <li>
                <a routerLink='/observable/tap'>Tap(Do) Operator</a>
            </li>
        </ul>
    </div>
</div>