<div class="m-3">
    <h2>switchMap Operator</h2>
    <br>
    <div class="row">
        <div class="col-md-4">
            <strong>Source - 01 | mergeMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer4">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source-02 | concatMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer5">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source-03 | switchMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer6">
            </ul>
            <!-- <p>Data coming here..</p> -->
        </div>
        <hr>
        <div class="col-md-4">
            <strong>Source - 01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source-02 | Map + switchAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer2">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source-03 | switchMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Video:</strong> ['Tech','Comedy','News']
            </p>
            <hr>
            <ul id="elContainer3">
            </ul>
            <!-- <p>Data coming here..</p> -->
        </div>
        <hr>
    </div>
</div>