<div class="m-3">
    <h2>Of</h2>
    <br>
    <strong>Ex- 01 (OF)</strong>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="bg-light p-2 border rounded"> <strong>Data: </strong>of('Mihir', 'Kumar', 'Trivedi') </div>
            <hr>
            <ul id="containerEle">

            </ul>
        </div>
        <div class="col-md-6">
            <div class="bg-light p-2 border rounded"> <strong>Data: </strong>of(&#123;'Mihir', 'Kumar', 'Trivedi'&#125;)
            </div>
            <hr>
            <ul id="containerEle">
                <li><Strong>A: </Strong> {{obsMsg.a}}</li>
                <li><Strong>B: </Strong> {{obsMsg.b}}</li>
                <li><Strong>C: </Strong> {{obsMsg.c}}</li>
            </ul>
        </div>
    </div>
    <h2>From</h2>
    <br>
    <strong>Ex- 01 (From)</strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <div class="bg-light p-2 border rounded"> <strong>Data: </strong>from(['Mihir', 'Kumar', 'Trivedi']) </div>
            <hr>
            <ul id="containerArray">

            </ul>
        </div>
        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <p class="bg-light p-2 border rounded">
                <strong>Data: </strong> Promise to Observable
            </p>
            <hr>
            <ul id="containerPromise"></ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <p class="bg-light p-2 border rounded">
                <strong>Data: </strong> String to Observable
            </p>
            <hr>
            <ul id="containerString"></ul>
        </div>
    </div>

</div>