<div class="my-3">
    <h2>DebounceTime & DistinctUntilChange</h2>
    <br>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex -01 <span class="text-primary">DebounceTime</span></strong>
            <hr>
            <div class="form-group row">
                <label for="Search" class="col-sm-2 col-form-label col-form-label-lg">Search..</label>
                <div class="col-sm-10">
                    <input type="text" #inputBox class="form-control form-control-lg" placeholder="Search">
                    <br><br>
                    <Strong *ngIf='reqData'>Request Data: <span class="text-success"> {{reqData}} </span> </Strong>
                </div>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>