<div class="m-3">
    <div class="m-3">
        <h2>Map Operator</h2>
        <br>
        <div class="row">
            <div class="col-md-4">
                <strong>Ex- 01</strong>
                <hr>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Map</strong> 'video' + data
                </p>
                <br>
                <p>Message <strong class="text-success">{{message}}</strong></p>
            </div>
            <div class="col-md-4">
                <strong>Ex- 02</strong>
                <hr>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Map</strong> Data * 10
                </p>
                <br>
                <p>Message <strong class='text-success'>{{messageTwo}}</strong></p>
            </div>
            <div class="col-md-4">
                <strong>Ex- 03</strong>
                <hr>
                <p class="bg-light py-2 px-3 border rounded">
                    <strong>Map</strong> Map Data
                </p>
                <br>
                <ul id="elId"></ul>
                <!-- <p>Data coming here..</p> -->
            </div>
        </div>
    </div>